workflows/form_submission.json
{
  "nodes": [
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appiyLq2xqHSWQnNe",
          "mode": "list",
          "cachedResultName": "N8n",
          "cachedResultUrl": "https://airtable.com/appiyLq2xqHSWQnNe"
        },
        "table": {
          "__rl": true,
          "value": "tblQUNGDSwFY0azlD",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/appiyLq2xqHSWQnNe/tblQUNGDSwFY0azlD"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $json.Name }}",
            "Looks": "={{ $json.Looks }}",
            "Profession": "={{ $json.Profession }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Looks",
              "displayName": "Looks",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Profession",
              "displayName": "Profession",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Video Editior",
                  "value": "Video Editior"
                },
                {
                  "name": "Graphic Designer",
                  "value": "Graphic Designer"
                },
                {
                  "name": "Software Engineer",
                  "value": "Software Engineer"
                },
                {
                  "name": "Manager",
                  "value": "Manager"
                }
              ],
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        352,
        80
      ],
      "id": "9b08cecd-d823-4ecf-8e8b-31e1cc51a0f2",
      "name": "Create a record",
      "credentials": {
        "airtableTokenApi": {
          "id": "mTvR0CjX12NSDPRj",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "formTitle": "My Team",
        "formDescription": "a team's basic info.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Name",
              "requiredField": true
            },
            {
              "fieldLabel": "Looks"
            },
            {
              "fieldLabel": "Profession",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Video Editior"
                  },
                  {
                    "option": "Graphic Designer"
                  },
                  {
                    "option": "Software Engineer"
                  },
                  {
                    "option": "Manager"
                  }
                ]
              },
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        128,
        80
      ],
      "id": "aab707cd-0695-4e24-b018-0532011df5dd",
      "name": "On form submission",
      "webhookId": "22d8e196-4761-4b8e-8a68-c7156aaf7e73"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.fields.Profession }}",
                    "rightValue": "Video Editior",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "8fc64c6b-eaa0-4395-b296-f10a66270266"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "3379da3b-a8ec-41aa-89ca-589c1167f60f",
                    "leftValue": "={{ $json.fields.Profession }}",
                    "rightValue": "Graphic Designer",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c52c19c1-b737-41b9-b153-cb675c974460",
                    "leftValue": "={{ $json.fields.Profession }}",
                    "rightValue": "Software Engineer",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "032e74cd-e248-4374-b57d-6a698d5efe45",
                    "leftValue": "={{ $json.fields.Profession }}",
                    "rightValue": "Manager",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        576,
        48
      ],
      "id": "48cea88c-8fbb-4fb9-9ffc-31bd96fd5dcb",
      "name": "Routing"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appiyLq2xqHSWQnNe",
          "mode": "list",
          "cachedResultName": "N8n",
          "cachedResultUrl": "https://airtable.com/appiyLq2xqHSWQnNe"
        },
        "table": {
          "__rl": true,
          "value": "tblQUNGDSwFY0azlD",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/appiyLq2xqHSWQnNe/tblQUNGDSwFY0azlD"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Rating": 3,
            "id": "={{ $('Create a record').item.json.id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Looks",
              "displayName": "Looks",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Profession",
              "displayName": "Profession",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Video Editior",
                  "value": "Video Editior"
                },
                {
                  "name": "Graphic Designer",
                  "value": "Graphic Designer"
                },
                {
                  "name": "Software Engineer",
                  "value": "Software Engineer"
                },
                {
                  "name": "Manager",
                  "value": "Manager"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Rating",
              "displayName": "Rating",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        800,
        -208
      ],
      "id": "b358889a-3414-4abe-9df7-41277e964e5e",
      "name": "Video Editor",
      "credentials": {
        "airtableTokenApi": {
          "id": "mTvR0CjX12NSDPRj",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appiyLq2xqHSWQnNe",
          "mode": "list",
          "cachedResultName": "N8n",
          "cachedResultUrl": "https://airtable.com/appiyLq2xqHSWQnNe"
        },
        "table": {
          "__rl": true,
          "value": "tblQUNGDSwFY0azlD",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/appiyLq2xqHSWQnNe/tblQUNGDSwFY0azlD"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Rating": 2,
            "id": "={{ $('Create a record').item.json.id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Looks",
              "displayName": "Looks",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Profession",
              "displayName": "Profession",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Video Editior",
                  "value": "Video Editior"
                },
                {
                  "name": "Graphic Designer",
                  "value": "Graphic Designer"
                },
                {
                  "name": "Software Engineer",
                  "value": "Software Engineer"
                },
                {
                  "name": "Manager",
                  "value": "Manager"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Rating",
              "displayName": "Rating",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        800,
        -16
      ],
      "id": "c63f8003-70ac-41ad-85ba-85fe03e3d0bd",
      "name": "Graphic Designer",
      "credentials": {
        "airtableTokenApi": {
          "id": "mTvR0CjX12NSDPRj",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appiyLq2xqHSWQnNe",
          "mode": "list",
          "cachedResultName": "N8n",
          "cachedResultUrl": "https://airtable.com/appiyLq2xqHSWQnNe"
        },
        "table": {
          "__rl": true,
          "value": "tblQUNGDSwFY0azlD",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/appiyLq2xqHSWQnNe/tblQUNGDSwFY0azlD"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Rating": 4,
            "id": "={{ $('Create a record').item.json.id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Looks",
              "displayName": "Looks",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Profession",
              "displayName": "Profession",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Video Editior",
                  "value": "Video Editior"
                },
                {
                  "name": "Graphic Designer",
                  "value": "Graphic Designer"
                },
                {
                  "name": "Software Engineer",
                  "value": "Software Engineer"
                },
                {
                  "name": "Manager",
                  "value": "Manager"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Rating",
              "displayName": "Rating",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        800,
        176
      ],
      "id": "58ccd52f-b27c-4d11-b83d-6d77c277c5f3",
      "name": "Software Engineer",
      "credentials": {
        "airtableTokenApi": {
          "id": "mTvR0CjX12NSDPRj",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appiyLq2xqHSWQnNe",
          "mode": "list",
          "cachedResultName": "N8n",
          "cachedResultUrl": "https://airtable.com/appiyLq2xqHSWQnNe"
        },
        "table": {
          "__rl": true,
          "value": "tblQUNGDSwFY0azlD",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/appiyLq2xqHSWQnNe/tblQUNGDSwFY0azlD"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Rating": 1,
            "id": "={{ $('Create a record').item.json.id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Looks",
              "displayName": "Looks",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Profession",
              "displayName": "Profession",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Video Editior",
                  "value": "Video Editior"
                },
                {
                  "name": "Graphic Designer",
                  "value": "Graphic Designer"
                },
                {
                  "name": "Software Engineer",
                  "value": "Software Engineer"
                },
                {
                  "name": "Manager",
                  "value": "Manager"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Rating",
              "displayName": "Rating",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        800,
        368
      ],
      "id": "f75de609-de93-4ce7-9a57-6c2f01f12657",
      "name": "Manager",
      "credentials": {
        "airtableTokenApi": {
          "id": "mTvR0CjX12NSDPRj",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Act as a poem creator. Generate a two-line poem based on the following details:\n- Name: {{ $json.fields.Name }}\n- Looks: {{ $json.fields.Looks}}\n- Profession: {{ $json.fields.Profession }}\nInstructions:\n- The poem should be only two lines long\n- It should be extremely simple to understand\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1024,
        80
      ],
      "id": "d52a6d25-8f07-48d2-bccd-2d54028526fc",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1104,
        304
      ],
      "id": "3d1a7a8d-7c3d-45a8-9397-3dfef76bc93b",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "TtGYiWHRsW8Th1lI",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appiyLq2xqHSWQnNe",
          "mode": "list",
          "cachedResultName": "N8n",
          "cachedResultUrl": "https://airtable.com/appiyLq2xqHSWQnNe"
        },
        "table": {
          "__rl": true,
          "value": "tblQUNGDSwFY0azlD",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/appiyLq2xqHSWQnNe/tblQUNGDSwFY0azlD"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Create a record').item.json.id }}",
            "Poem": "={{ $json.output }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Looks",
              "displayName": "Looks",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Profession",
              "displayName": "Profession",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Video Editior",
                  "value": "Video Editior"
                },
                {
                  "name": "Graphic Designer",
                  "value": "Graphic Designer"
                },
                {
                  "name": "Software Engineer",
                  "value": "Software Engineer"
                },
                {
                  "name": "Manager",
                  "value": "Manager"
                }
              ],
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Rating",
              "displayName": "Rating",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Poem",
              "displayName": "Poem",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1376,
        80
      ],
      "id": "76fb9c13-3c32-4d8c-81d8-7ea4988e5348",
      "name": "Update record",
      "credentials": {
        "airtableTokenApi": {
          "id": "mTvR0CjX12NSDPRj",
          "name": "Airtable Personal Access Token account"
        }
      }
    }
  ],
  "connections": {
    "Create a record": {
      "main": [
        [
          {
            "node": "Routing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Create a record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Routing": {
      "main": [
        [
          {
            "node": "Video Editor",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Graphic Designer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Software Engineer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Video Editor": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Graphic Designer": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Software Engineer": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manager": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Update record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f8c51f021bd2f86ae306c3bf1cff5ab57224aff4dffbeef9d4664f282a16df86"
  }
}